@import "tailwindcss";

@theme {
    --color-dark-primary: #0b0b10;
    --color-dark-secondary: #121218;
    --color-dark-tertiary: #1a1a22;
    --color-dark-quaternary: #20202a;
    --color-dark-quinary: #2a2a35;

    --color-white-primary: #f2f2f5;
    --color-white-secondary: #a0a0aa;
    --color-white-tertiary: #666674;

    --color-normal: #6e9a7c;
    --color-hard: #b08a5e;
    --color-expert: #b06565;
    --color-real: #8f7fb8;
    --color-discord: #5865f2;
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }
}

@utility text-primary {
    @apply text-white-primary text-2xl font-semibold;
}

@utility text-secondary {
    @apply text-white-primary/95 text-xl font-medium;
}

@utility text-tertiary {
    @apply text-white-primary/90 text-lg font-normal;
}

@utility text-quaternary {
    @apply text-white-primary/85 text-base font-light;
}

@utility text-quinary {
    @apply text-white-primary/80 text-sm font-extralight;
}

@utility text-senary {
    @apply text-white-primary/75 text-xs font-thin;
}
